body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: #1b1c20;
    color: #46c027
}

button{
    font-size: 60px;
    background-color: #b39d3e;
    color: black
}

.centered-blocks {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-texts-lists {
    text-align: center;
    list-style-position: inside;
}

.centered-texts-lists h1,h4,p,ul,ol,strong {
    text-align: center;
    list-style-position: inside; 
}
h1 {
    color: #5dff35;
}

h4 {
    color:#55e432;
    font-size: 28px;    
}
